/*	Reset & General
---------------------------------------------------------------------- */
.tile{
	width: 100%;
	background:#fff;
	/* border-radius:5px; */
	box-shadow: 3px 10px 20px -5px #696969;
	float:left;
  	-webkit-transform-style: preserve-3d;
  	        transform-style: preserve-3d;
  	margin: 10px 5px;
	border: 1px solid #f5f5f582;
	transition: all .2s ease-in-out;

}

.tile:hover{
	box-shadow: 3px 10px 20px -10px #696969;
}

.header{
	border-bottom:1px solid #ebeff2;
	padding:5px 0;
	text-align:center;
	color:#59687f;
	font-size:600;
	font-size:19px;
	position:relative;
}

.banner-img {
	/* padding: 5px 5px 0; */
}

.banner-img img {
	width: 100%;
	/* border-radius: 5px; */
}

.dates{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:20px 0px;
	margin:10px 20px;
	font-size:16px;
	color:#5aadef;
	font-weight:600;
	overflow:auto;
}
.dates div{
	float:right;
	width:50%;
	text-align:center;
	position:relative;
}
.dates strong,
.stats strong{
	display:block;
	color:#adb8c2;
	font-size:11px;
	font-weight:700;
}
.dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;
	background:#ebeff2;
}
.stats{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding: 5px 0;
	font-size:16px;
	color:#59687f;
	font-weight:600;
}
.stats div{
	border-right:1px solid #ebeff2;
	width: 100%;
	float:left;
	text-align:center
}

.stats div:nth-of-type(3){border:none;}

div.event-footer {
	text-align: right;
	position: relative;
	margin: 20px 16px;
}

div.event-footer div.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}


div.event-footer div.Cbtn-reserve{
	background-color: #00bfd6;
	color: #FFF;
}

div.event-footer div.Cbtn-reserve:hover{
	background-color: #09d6ef;
}

.event-details th {
	text-align: right;
}

.res-btn {
	background-color: #00bfd6;
	flex-grow: 1;
	border-bottom: 5px solid #08a0b3;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 2px 2px #a7a7a745;
	color: whitesmoke;
}

.res-btn:hover {
	background-color: #15ddf5;
	border-bottom: 5px solid #1ac3d8;
	color: white;
}

.pre-reserve {
	color: whitesmoke;
	border-radius: 0 5px 5px 0;
	background-color: #9dc44d;
	border-bottom: 5px solid #84a541;
}

.pre-reserve:hover {
	color: white;
	background-color: #abd456;
	border-bottom: 5px solid #94b948;
}

.res-cancel {
	padding: 10px 18px;
	background: coral;
	border-radius: 5px 0 0 5px;
	border-bottom: 5px solid #de7048;
	color: #ffeee7;
}

.res-cancel:hover {
	border-bottom: 5px solid #e4541e;
	color: white;
	background-color: #ff6228;
}

/* table of details */
.event-details {
	border: 0px none transparent !important;
}

.event-details tbody tr th:first-child {
border-right: 0px none transparent;
font-weight: 500;
}

.event-details tbody tr th:last-child {
border-left: 0px none transparent;
font-weight: 300;
}

.download-tc {
	color: gray;
  background: #dedede;
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border-bottom: 5px solid #b7b7b7;
}

.download-tc:hover {
	color: gray;
	background-color: #f7f7f7;
	border-bottom: 5px solid #eaeaea;
}


/* event dashboard parsrix */

.event-content>li {
  background-color: white;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  border: 1px solid #8080801a;
}
.event-details {
  padding-right: 10px;
}
.event-content{
  margin: 10px;
  list-style: none;
  padding-right: 0;
}
/*accordian */
.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

/* .accordion dl dt , .accordion dl dd {
box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
} */
.accordion-list {
  border: 1px solid #ddd;
}
/* .accordion dl:after, */
/* .accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
} */

.accordion dd,
.accordion__panel {
  background-color: white;
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
  /* background-color: white; */
}
.accordion dl {
	margin-left: -10px;
	margin-right: -10px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
  /* background-color: beige; */
  text-align: center;
  font-weight: 700;
  padding: .5em 2em;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #6c6c6c;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #ccc;
}
.accordionTitle:before,
.accordion__Heading:before {
  font-family: "Font Awesome 5 pro"; font-weight: 300; content: "\f067";
  position: absolute;
  left: 2.5rem;
  margin-top: 2.5rem;
  font-size: 1.5em;
  line-height: 0.5em;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #f9f9f9;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: beige;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 50em;
  transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    /*max-height: 15em;*/
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
          animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
          animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
